@import "custom/variables.scss";
@import "custom/breakpoint";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h6 {
  font-size: $fs-mini;
  color: $text-color;
}

body {
  overflow: hidden;
}

.layout {
  main {
    display: flex;
  }
}

a {
  text-decoration: none;
}
