.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  i {
    font-size: 5rem;
    margin-bottom: 1.6rem;
  }

  height: 12rem;
}
