// Base
$font-family-base: "Segoe UI", sans-serif;

// Color
$text-color: #323e4d;
$border-color: #f2f3f4;

$white: #ffffff;
$blue-100: #147dd4;

// $gray-100: #f7f7f7;
// $gray-200: #f6f8fa;
// $gray-300: #e4e6e8;
// $gray-400: #e1dfdd;
// $gray-500: #aaaaaa;
// $gray-600: #666666;
// $gray-700: #707070;
// $gray-800: #999999;
// $gray-900: #636363;

$dark-100: #797979;
$dark-200: #171d24;
// $dark-cyan: #27313c;

// $purple: #634db0;
// $cyan-100: #0077bb;
// $cyan-200: #0074bd;

// $green-100: #d6f3e9;
// $green-200: #4ac49a;

// $pink-100: #fcdfdf;

// Font size
$fs-mini: 1.4rem;
$fs-small: 1.6rem;
$fs-medium: 2.4rem;
$fs-large: 3.2rem;
$fs-large-1: 3.6rem;

// Line height
$lh-mini: 1.7rem;
$lh-mini-1: 1.9rem;
$lh-base: 2.1rem;
$lh-medium: 3.2rem;
$lh-medium-1: 2.9rem;
$lh-large: 4.1rem;
$lh-large-1: 4.1rem;

// Grid-breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
